/* * *
*
*   <コ:彡
*   
*   @title africa-thing
*   @author nabil kashyap (www.nabilk.com)
*
* * */


div #container {

	padding: 0px;
	top: 5%;
	left: 5%;
	padding-left: -5px;
}

#container div.group{
	position: fixed;
	border: 1px solid #f00;
	width: 33%;
	margin-top: 15%;
	margin-left: 33%;
}

#container div.group img{

	width: 100%;
}

div#about {height: auto;}

/*svg{ margin-left: -5px;}
*/
iframe {

	width: inherit;
	height: inherit;
	overflow: hidden;
}

::-webkit-scrollbar { 
    display: none; 
}
